{% load static %}
<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
        </div>
      </div>

      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            &copy; Created by <a style="color: #1b1b1b" href="https://t.me/Muffin_Mouse" target="_blank">Morty67</a> for a portfolio
          </p>
        </div>
      </div>
    </div>
</footer>
