{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container py-5">
    <h1 class="text-center mb-4">List of Dish Types</h1>
    <div class="d-flex justify-content-end mb-4">
      <a href="{% url 'restaurant:dish-type-list-create' %}" class="btn btn-primary">Create</a>
    </div>
    <form action="" method="get" class="form-inline mb-4">
      <div class="input-group">
        {{ search_form|crispy }}
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% if dish_type_list %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          {% for dish_type in dish_type_list %}
            <tr>
              <td>{{ dish_type.id }}</td>
              <td>
                <a href="{% url 'restaurant:dish-type-list-detail' pk=dish_type.id %}"
                   class="text-decoration-none">{{ dish_type.name }}</a>
              </td>
              <td>
                <a href="{% url 'restaurant:dish-type-list-update' pk=dish_type.id %}" class="btn btn-primary btn-sm">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
              <td>
                <form action="{% url 'restaurant:dish-type-list-delete' pk=dish_type.id %}" method="get">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>There are no Dish Types in the service.</p>
    {% endif %}
  </div>
{% endblock %}
