{% extends "base.html" %}

{% block content %}
  <div class="container py-5">
    <h1 class="mb-4">Dish Type: {{ dish_type_list }}</h1>
    <div class="row">
      <div class="col-md-8">
        <h2>Dishes of this type</h2>
        <hr>
        <ul class="list-group">
          {% for dish in dish_type_list.dish_set.all %}
            <a href="{% url 'restaurant:dish-detail' pk=dish.id %}">
              <li class="list-group-item">{{ dish.name }} ({{ dish.price }})</li>
            </a>
          {% empty %}
            <li class="list-group-item">No dishes found.</li>
          {% endfor %}
        </ul>
      </div>
      <div class="mt-5">
        <a href="{% url 'restaurant:dish-type-list' %}" class="btn btn-primary">Back to list of Type of Dishes</a>
      </div>
    </div>
  </div>
{% endblock %}
