{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container py-5 text-center">
    <h1 class="mb-4">List of Ingredients</h1>
    <div class="d-flex justify-content-end mb-4">
      <a href="{% url 'restaurant:ingredient-create' %}" class="btn btn-primary">Create</a>
    </div>
    <form action="" method="get" class="form-inline mb-4">
      <div class="input-group">
        {{ search_form|crispy }}
        <div class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </form>
    {% if ingredient_list %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Dishes</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          {% for ingredient in ingredient_list %}
            <tr>
              <td>{{ ingredient.id }}</td>
              <td>
                <a href="{% url 'restaurant:ingredient-detail' pk=ingredient.id %}"
                   class="text-decoration-none">{{ ingredient.name }}</a>
              </td>
              <td>
                <ul>
                  {% for dish in ingredient.dishes.all %}
                    <li>{{ dish.name }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>
                <a href="{% url 'restaurant:ingredient-update' pk=ingredient.id %}" class="btn btn-primary btn-sm">
                  <i class="bi bi-pencil"></i>
                </a>
              </td>
              <td>
                <form action="{% url 'restaurant:ingredient-delete' pk=ingredient.id %}" method="get">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>There are no Ingredients in the service.</p>
    {% endif %}
  </div>
{% endblock %}
